export(roed_scenarios)
export(roed_design)
export(roed_oc)
export(roed_protocol)
export(roed_select)
export(roed_resume)
S3method(as.data.frame,roed_design)
S3method(as.data.frame,roed_oc)
S3method(as.data.frame,roed_protocol)
S3method(as.data.frame,roed_scenarios)
S3method(as.data.frame,roed_selection)
S3method(coef,roed_design)
S3method(plot,roed_design)
S3method(print,roed_design)
S3method(print,roed_oc)
S3method(print,roed_protocol)
S3method(print,roed_scenarios)
S3method(print,roed_selection)
S3method(print,summary.roed_design)
S3method(summary,roed_design)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,barplot)
importFrom(graphics,box)
importFrom(graphics,legend)
importFrom(graphics,matplot)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,segments)
importFrom(stats,pbinom)
importFrom(utils,txtProgressBar)
importFrom(utils,setTxtProgressBar)

